.photo-card {
  flex-basis: calc(100% / var(--item-amount) - 2 * var(--margin));
  text-align: center;
  box-shadow: var(--box-shadow);
  margin: var(--margin);
  padding: 0;
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #cdcdcd;
}

.photo-card a {
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: var(--s-padding);
}

.info * {
  display: flex;
  flex-direction: column;
  padding: var(--xs-padding);
}

.card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  padding: 0;
  margin: 0;
}
