:root {
  --primary-white: #ffffff;
  --primary-blue: #3652c4;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  --margin: 10px;
  --padding: 10px;
  --s-padding: 4px;
  --xs-padding: 1px;
  --item-amount: 4;
  --b-radius: 4px;
}
